/* variables */

:root {

    --primary: #fffdd0;
    --primary_font: #895129;
    --secondary: #f9E076;
    --secondary_font: #ccdad9;
    --tertiary: #895129;
    --tertiary_font: #ffc107;
    --fourth: #895129;

    --buttonx: #000000;
    --buttonx_font: #feffff;
    --buttony: #000000;
    --buttony_font: #ffffff;

    --success: #2e6f40;
    --success_font: #ffffff;
    --fail: #960016;
    --fail_font: #feffff;

    --background: #000000;
    --background_transparent: #00000091;
    --background_translucent: #000000c4;
    --foreground: #ffffff;
    --glow: #000000;
    --shadow: #ffffff;
    --overlay: #ffffff;

    --background_img_03 :"";
}

@font-face {
    font-family: RobotoCondensed;
    src: url(../fonts/RobotoCondensed.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster.ttf);
    font-weight: bold;
}

@font-face {
    font-family: GreatVibes;
    src: url(../fonts/GreatVibes.ttf);
    font-weight: bold;
}

* {
    font-family: RobotoCondensed;
    font-size: large;
}

body {
    background-color: #3f3d3d;
}


h2 {
    color: var(--primary_font);
    font-family: Lobster;
    font-size: 10vh;
}

h3 {
    color: var(--primary_font);
    font-family: GreatVibes;
    font-size: 10vh;
}

p {
    color: var(--primary_font);
}

a {
    color: var(--secondary_font);
}

button {
    color: var(--primary_font);
}

label {
    color: var(--primary_font);
}

input {
    color: var(--primary_font);
    border: none;
    border-bottom: 0.5vh solid var(--primary_font);
    width: 100%;
    background-color: #ffffff00;
    margin-bottom: 1vh;
}

input[type="file"]::file-selector-button {
    border: 0.1vh solid var(--primary_font);
    background-color: var(--primary);
    color: var(--primary_font);
    border: none;
    border-right: 0.1vh solid var(--primary_font);
}

textarea {
    color: var(--primary_font);
    border: none;
    border-bottom: 0.5vh solid var(--primary_font);
    width: 100%;
    background-color: #ffffff00;
    margin: 1vh;
    resize: none;
}

img {
    color: var(--primary_font);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    color: var(--primary_font);
}

ol {
    color: var(--primary_font);
}

i {
    color: var(--primary_font);
    vertical-align: middle;
    margin-inline: 0.5vh;
}

select {
    border: 0.1vh solid var(--primary_font);
    background-color: var(--primary);
    color: var(--primary_font);
    border: none;
}

/* element class */

.success-btn {
    color: var(--success_font);
    background-color: var(--success);
    border: 0.1vh solid var(--success_font);
    border-radius: 1vh;
    padding: 0.2vh;
    font-weight: bold;
}

.fail-btn {
    color: var(--fail_font);
    background-color: var(--fail);
    border: 0.1vh solid var(--fail_font);
    border-radius: 1vh;
    padding: 0.2vh;
    font-weight: bold;
}

.tiny-btn {
    color: var(--success_font);
    background-color: rgba(255, 255, 255, 0);
    border: 0.1vh solid var(--success_font);
    border-radius: 1vh;
    padding: 0.2vh;
    font-weight: bold;
}

.nav-item {
    color: var(--secondary_font);
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.nav-selected {
    border-top: 10px solid var(--background);
    border-bottom: 10px solid var(--primary);
}

.card {
    border-radius: 10px;
    background-color: var(--primary);
    margin-top: 2vh;
    margin-left: 1vh;
}

.card_transparent {
    border-radius: 10px;
    background-color: var(--background_transparent);
    margin-top: 2vh;
    margin-left: 1vh;
    padding: 1vh;
}

.fail {
    color: var(--fail);
}

.success {
    color: var(--success);
}

.row {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5vh;
}

.col-12 {
    margin: 0;
    padding: 0;
}

.success-glow {
    border-bottom: 0.5vh solid var(--success);
    transition: ease-in 0.5s;
}

.fail-glow {
    color: var(--fail);
    border-bottom: 0.5vh solid var(--fail);
    transition: ease-in 0.5s;
}

.row {
    margin: 0;
    padding: 0;
}

.datepickers {
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary_font);
}

.clear_btn {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    margin: 0;
    border: none;
}

/* effects */

.success-btn:focus,
.success-btn:hover {
    color: var(--success);
    background-color: var(--success_font);
    box-shadow: 0 0 15px var(--success_font);
    transition: ease-in 0.5s;
    cursor: pointer;
}

.success-btn:disabled,
.success-btn[disabled] {
    background-color: #818181;
    color: #8b8b8b;
}

.fail-btn:focus,
.fail-btn:hover {
    color: var(--fail);
    background-color: var(--fail_font);
    box-shadow: 0 0 15px var(--fail_font);
    transition: ease-in 0.5s;
    cursor: pointer;
}

.nav-item:focus,
.nav-item:hover {
    color: var(--primary_font);
    text-shadow: 1px 1px 10px var(--primary_font), 1px 1px 10px var(--primary_font);
    transition: ease-in 0.5s;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.datepickers:focus {
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary_font);
}

.room:focus,
.room:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--foreground);
    transition: ease-in 0.5s;
    cursor: pointer;
}

.banner{
    background-image:  url('../images/banner-01.jpg');;
    background-repeat: repeat;
    background-size: 100vw;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
}

.whitetxt{
    color: #fffdd0;
}